* {
    font-family: 'Piazzolla', serif;
}

body {
    background: #efb5a3;
}

.container {
    background: #315f72;
    float: left; 
    color: white;
    width: 40%;
    height: auto;
    padding: 20px;
    margin-top: 10%;
    margin-left: 10%;
}

@media screen and (max-width: 800px) {
    .container, .row {
      width: 100%;
      margin-left: 0%;
